<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP1cdgZ0tPUonHFIXuzvEpt9d_z6X7ZAw</string>
	<key>GCM_SENDER_ID</key>
	<string>592819346585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapstagram.mapstagram</string>
	<key>PROJECT_ID</key>
	<string>mapstagram-b7a01</string>
	<key>STORAGE_BUCKET</key>
	<string>mapstagram-b7a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592819346585:ios:b8077a2ec923cd90c3ec08</string>
</dict>
</plist>